public_trasport.json
{
  "name": "public trasport",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.omnidim.io/api/v1/calls/dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 0lZ4Dcrwv9PDH_CWHLDPs7aTpaqBocR68WDLCxVp8ps"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"2893\",\n  \"to_number\": \"+918155091603\",\n  \"call_context\": {\n    \"customer_name\": \"raj\",\n    \"summary\": \"{{ $json.summary }}\",\n    \"fare_price\": \"{{ $json.fare_price }}\",\n    \"availability\": \"{{ $json.availability }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        240
      ],
      "id": "2949ab32-63fa-49f5-8827-ef4b16bea0cf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1403ed7a-d074-47a4-83ca-9d7730179f0d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        120
      ],
      "id": "8614e54d-d6d4-4497-9d9b-d08d1588e91c",
      "name": "Webhook",
      "webhookId": "1403ed7a-d074-47a4-83ca-9d7730179f0d"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cab_drivers"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -460,
        160
      ],
      "id": "d61fe585-0db8-47fa-a2d8-aa146af162f8",
      "name": "cab drivers1",
      "credentials": {
        "supabaseApi": {
          "id": "oXpkpihVqKTJ5bkt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -260,
        280
      ],
      "id": "11095988-7df3-43d7-a066-0732f8d3c8ef",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12rSrykYITIlX-SKWqcBPwSaPgHW2wyc2mylYpHS52BM",
          "mode": "list",
          "cachedResultName": "cab driver",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12rSrykYITIlX-SKWqcBPwSaPgHW2wyc2mylYpHS52BM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12rSrykYITIlX-SKWqcBPwSaPgHW2wyc2mylYpHS52BM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cab_driver_name",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        20,
        480
      ],
      "id": "0eedea77-9e32-43de-9b25-6b1579dbfbdc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZsoGI29FDANaH8yg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4e78aba-6012-4042-bdc6-644dda499e56",
              "leftValue": "={{ $json.cab_driver_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        520
      ],
      "id": "651f7576-fe63-475a-aa1a-d18a50b57648",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        460,
        660
      ],
      "id": "9058e318-cbdb-4338-96d3-6e740ea9f7b3",
      "name": "Wait",
      "webhookId": "d7d7cc27-e53e-4acb-84ff-26477ea2af6c"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "cab drivers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cab drivers1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ea2dd04-f52f-47e5-b92a-f5704c7a29e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "774ee38ea9ba5e8f41040bedb085131409f4d5decfd558653609d6d1917ea904"
  },
  "id": "QauwwCSOwifZy6wz",
  "tags": []
}